.container_contacts {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section_del {
    min-width: 300px;
    width: 600px;
    height: 400px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
    background-color: #2A3245;
    border-radius: 20px;
    padding: 10px;
}

.section_del h3 {
    color: #E0E6F0;
    text-align: center;
}

.content_buttons {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 50px;
    margin: 50 20px;
    
}

.content_buttons a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    min-width: fit-content;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
}

.Telegram {
    background: linear-gradient(
        135deg,
        #0a70cb,
        #21a6de
    );
    padding: 10px;
    border-radius: 10px;
    transition: all 0.2s ease;
}

.Telegram:hover {
    box-shadow: 0 0 10px  #3B82F6;
    transform: translateX(-10px);
}
.Telegram:active {
    transform: scale(0.9);
}

.WhatsApp {
    background: linear-gradient(
        135deg,
        #238f2b,
        #6ab634
    );
    padding: 10px;
    border-radius: 10px;
    transition: all 0.2s ease;
}
.WhatsApp:hover {
    box-shadow: 0 0 10px #25D366;
    transform: translateX(10px);
}
.WhatsApp:active {
    transform: scale(0.9);
}

.contact-info {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.contact-info {
    color: #4b546a;
    font-family: monospace;
    font-size: 18px;
}

.response-time {
    text-align: center;
    color: #40485b;
    
    
}

@media (max-width: 400px) {
    .contact-info {
        font-size: 16px;
    }
}
