
body {
    margin: 0;
}

#root {
        font-family: Arial, sans-serif;
        background-color: #1A1F2B;
        background-image: url('../assets/images/pattern_300x300.png');
        background-repeat: repeat;
        background-size: 50px 50px;


        display: flex;
        flex-direction: column;
        min-height: 100vh;
        user-select: none;
    }

    main {
        flex: 1;
    }


    header * {
        margin: 0;
    }

    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;
        background-color: #222933ad;
        backdrop-filter: blur(4px);
        height: 64px;
        border-radius: 0 0 10px 10px;
        user-select: none;
        box-shadow: 0 0 10px black;
    }

    header {
        position: sticky;
        top: 0;
        z-index: 1000;
    }

    header h1 {
        color: #E0E6F0;
        font-size: 18px;
    }

    nav {
        display: flex;
        gap: 24px;
    }

    nav button {
        background-color: rgba(0, 0, 0, 0);
        color: #E0E6F0;
        text-decoration: none;
        border: none;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 18px;
        font-weight: 500;
        transition: all 0.3s ease;    
    }

    nav button:hover {
        color: #60A5FA;
    }

    main {
        margin-top: 10px;
        padding: 0 10px;
        margin-bottom: 10px;
    }

    /* ========= ШАПКА СТРАНИЦЫ ⤴ ============ */

    #card-list {
        display: grid;
        gap: 16px;
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
        margin: 0 auto; 
        max-width: 1200px;
        padding: 0 10px;
    }



    /* Планшет */
    @media (max-width: 768px) {
        #card-list {
            grid-template-columns:repeat(auto-fill, minmax(180px, 1fr));
            gap: 12px;
        }

    }


    /* Телефон */
    @media (max-width: 480px) {
        #card-list {
            grid-template-columns: 1fr; /* одна колонка */
            gap: 8px;
        }
    }




    /* ========== ПОДВАЛ СТРАНИЦЫ ⤵ ============= */

    footer {
        background-color: #222933;
        height: 48px;
        border-radius: 10px 10px 0 0 ;


        display: flex;
        justify-content: space-between;
        padding: 0 20px;
        align-items: center;
        color: #4A5568;
        user-select: none;

    }

    footer a {
        text-decoration: none;
        color: #4A5568;
    }





